body {
  font-family: 'Arial', sans-serif;
  background-color: #C1D72E;
  text-align: center;
}

#alphabet button {
  margin: 3px;
  padding: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
}

#alphabet button.correct {
  background-color: #a4dca4;
}

#alphabet button.incorrect {
  background-color: #e9a6a6;
}

#hold {
  margin-top: 20px;
  font-size: 24px;
}

#mylives {
  color: red;
}

#hangman {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
  border: 10px;
  background-color: white;
  width: 150px;
  height: 200px;
}

#head {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 30px;
  left: 67px;
}

#body {
  width: 4px;
  height: 60px;
  background-color: black;
  position: absolute;
  top: 70px;
  left: 84px;
}

#leftArm {
  width: 40px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 80px;
  left: 52px;
  transform: rotate(-45deg);
}

#rightArm {
  width: 40px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 80px;
  right: 50px;
  transform: rotate(45deg);
}

#leftLeg {
  width: 40px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 77px;
  left: 50px;
  transform: rotate(-45deg);
}

#rightLeg {
  display: none;
  width: 40px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 77px;
  right: 50px;
  transform: rotate(45deg);
}


#hint {
  margin-top: 20px;
}

#reset {
  margin-top: 20px;
}
